body {
  color: rgb(92,92,92);
  text-align: center;
  line-height: 1.5;
  font-family: Tahoma, sans-serif;
}
h1, h2, h3 {
  font-weight: normal;
  letter-spacing: 0;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 2em;
  line-height: 1.5em;
}
h2 {
  color: #b4221a;
  line-height: 0;
  font-size: 1.1em;
  padding-top: 15px;
  text-transform: uppercase;
}
hr {
  color: rgb(92,92,92);
}
@media (min-width: 1200px) {
  body {
    margin-top: 60px;
  }
  .container-fluid {
    padding: 5px;
  }
  .row-fluid {
    width: 99.75%;
  }

  /* Header ------------------------------------------------------------------- */

  header {
    padding: 5px;
    margin-bottom: 5px;
    text-align: right;
    border: 1px solid #d5d5d5;
  }
  header .branding {
    margin: 45px 0 40px 50px;
    display: inline-block;
    width: 40%;
    float: left;
    vertical-align: text-bottom;
  }

  /* Navigation --------------------------------------------------------------- */


  .navbar-inverse .navbar-inner {
    padding: 0 0 0 10px;
  }

  .navbar {
    margin-bottom: 5px;
  }

  .navbar .nav > li > a {

    padding: 10px 20px 10px;
  }
  .navbar .nav > li > a:hover {
    color: #fff;
  }

  /* Main content ----------------------------------------------------------- */
  .main {
    margin-bottom: 5px;
    background-color: #d5d5d5;
    border: 1px solid #d5d5d5;
  }
  .main p {
    padding: 0 10px;
  }

  /* Aside ------------------------------------------------------------------ */
  aside {
    color: charcoal;
    width: 33.3%;
    float: left;
    text-align: center;
  }
  aside article {
    margin: 20px;
    padding-bottom: 20px;
    text-align: left;
    border-bottom: 1px solid gray;
  }
  aside article.first {
    margin-top: 0;
  }

  /* Sections --------------------------------------------------------------- */
  .main section {
    float: left;
    width: 66.66666%;
    background-color: #fff;
  }
  section .box {
    width: 49.95%;
    float: left;
  }
  section .box p {
    padding: 0 20px;
  }
  section .box.quote {
    padding: 60px 0 0 0;
  }
  section .box.quote p {
    padding: 0 25px;
  }

  /* Footer ----------------------------------------------------------------- */

  footer {
    clear: both;
    padding: 20px 0;
    max-height: 75px;
    line-height: 1em;
    font-size: 0.85em;
    border: 1px solid #d5d5d5;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  header {
    padding-bottom: 5px;
    text-align: left;
  }

}

@media (max-width: 767px) {

}
