body {
  color: rgb(92,92,92);
  text-align: center;
  line-height: 1.5;
  font-family: Tahoma, sans-serif;
}
h1, h2, h3 {
  font-weight: normal;
  letter-spacing: 0;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 1.8em;
  line-height: 1.2em;
  margin: 20px 20px 10px 20px;
}
h2 {
  color: #953D38;
  line-height: 0;
  font-size: 1.1em;
  padding-top: 15px;
  text-transform: uppercase;
}
hr {
  color: rgb(92,92,92);
}
ul, p.left {
  text-align: left;
}
blockquote {
  font-size: 1.5em;
  font-style: italic;
  padding: 20px;
  border-left: none;
}
@media (min-width: 1200px) {
  body {
    margin-top: 30px;
  }
  .container-fluid {
    padding: 5px;
  }
  .row-fluid {
    width: 99.75%;
  }

  /* Header ------------------------------------------------------------------- */

  header {
    padding: 5px;
    margin-bottom: 5px;
    text-align: right;
    border: 1px solid #d5d5d5;
  }
  header .branding {
    margin: 45px 0 40px 50px;
    display: inline-block;
    width: 40%;
    float: left;
    vertical-align: text-bottom;
  }

  /* Navigation --------------------------------------------------------------- */


  .navbar-inverse .navbar-inner {
    padding: 0 0 0 10px;
    text-transform: uppercase;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    letter-spacing: 0;
  }

  .navbar {
    margin-bottom: 5px;
  }

  .navbar .nav > li > a {
    text-shadow: none;
    padding: 10px 20px 10px;
  }
  .navbar .nav > li > a:hover {
    color: #111212;
    background-color: #953D38;
  }

  /* Main content ----------------------------------------------------------- */
  .main {
    margin-bottom: 5px;
    background-color: #d5d5d5;
    border: 1px solid #d5d5d5;
  }
  .main p {
    padding: 0 10px;
  }

  /* Aside ------------------------------------------------------------------ */
  aside {
    color: #444;
    width: 33.3%;
    float: left;
    text-align: center;
  }
  aside article {
    margin: 20px;
    padding-bottom: 20px;
    text-align: left;
    border-bottom: 1px solid gray;
  }
  aside article.first {
    margin-top: 0;
  }

  /* Sections --------------------------------------------------------------- */
  .main section {
    float: left;
    width: 66.66666%;
    background-color: #fff;
  }
  section .box {
    width: 49.95%;
    float: left;
    word-wrap: break-word;
  }
  section .box h1,
  section .box p {
    padding: 0 20px;
  }
  section .box ul {
    padding: 0 20px;
  }
  section .box.quote {
    height: 265px;
    padding: 60px 0 0 0;
  }
  section .box.quote p {
    padding: 0 25px;
  }
  section .box.left {
    padding-bottom: 20px;
  }
  section .box.left p,
  section .box.left ul,
  section .box.left h2 {
    text-align: left;
    line-height: 1.2;
    padding: 0px 20px;
  }
  section .box.left p,
  section .box.left ul {
    line-height: 1.3em;
  }
  section .box.img-grow {
    padding-top: 60px;
  }
  section .box.sem {
    padding-top: 20px;
    border-top: 1px dashed #d5d5d5;
  }
  section .box.sem p.left,
  section .box.sem ul {
    padding: 0 20px;
  }
  section .box.gradient {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmRmZGYiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(223,223,223,0) 0%, rgba(223,223,223,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(223,223,223,0)), color-stop(100%,rgba(223,223,223,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(223,223,223,0) 0%,rgba(223,223,223,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(223,223,223,0) 0%,rgba(223,223,223,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(223,223,223,0) 0%,rgba(223,223,223,0.65) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(223,223,223,0) 0%,rgba(223,223,223,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dfdfdf', endColorstr='#a6dfdfdf',GradientType=1 ); /* IE6-8 */
    height: 285px;
  }
  section .box.quote.gradient {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmRmZGYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(223,223,223,0.65) 0%, rgba(223,223,223,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(223,223,223,0.65)), color-stop(100%,rgba(223,223,223,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(223,223,223,0.65) 0%,rgba(223,223,223,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(223,223,223,0.65) 0%,rgba(223,223,223,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(223,223,223,0.65) 0%,rgba(223,223,223,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(223,223,223,0.65) 0%,rgba(223,223,223,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6dfdfdf', endColorstr='#00dfdfdf',GradientType=1 ); /* IE6-8 */
  }
  section .box.img-narrow {
    text-align: right;
  }
  section .box img {
    width: 100%;
  }
  section .box.img-profile img {
    width: auto;
    padding: 30px 20px 10px 20px;
  }
  section .box.top-border {
    border-top: 1px solid #d5d5d5;
  }
  .contact {
    font-size: 18px;
    line-height: 1em;
  }
  .end-msg {
    padding: 30px;
  }
  .end-msg .red {
    color: #953D38;
  }

  /* Footer ----------------------------------------------------------------- */

  footer {
    clear: both;
    padding: 20px 0;
    max-height: 75px;
    line-height: 1em;
    font-size: 0.85em;
    border: 1px solid #d5d5d5;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  header {
    padding-bottom: 5px;
    text-align: left;
  }

}

@media (max-width: 767px) {

}
