body {
  text-align: center;
}

.container {
  margin: 0px auto;
  padding: 5px;
  border: 1px solid silver;
}
.row-fluid {
  border-bottom: 1px solid silver;
  height: 355px;
}
header {

}
.branding {
  display: inline-block;
  width: 40%;
  float: left;
  margin: 40px;
  vertical-align: text-bottom;
}

footer {
  background-color: teal;
}

